.input-group {
    position: relative;
    width: 100%;
    padding: 1rem 0;
}

.input-group label {
    position: absolute;
    font-weight: 500;
    color: rgba(17, 17, 17, 0.4);
    transition: all ease-out 0.2s;
}

.input-group .active {
    font-size: 0.8rem;
    margin-top: -20px;
}

.input-group input {
    position: relative;
    font-weight: 500;
    width: 100%;
    border: none;
    outline: none;
    padding: 0 24px 2px 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(17, 17, 17, 0.2);
    transition: border-color 0.3s;
    z-index: 1;
}

.input-group input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-group input:hover {
    border-bottom-color: #000;
}

.input-group input.correct {
    color: var(--correct-color);
    border-bottom: 2px solid var(--correct-color);
}

.input-group input.incorrect {
    color: var(--error-color);
    border-bottom: 2px solid var(--error-color);
}

.input-group .btns-check {
    position: relative;
    width: 100%;
    height: 100%;
}

.input-group .btns-check i {
    position: absolute;
    font-size: 18px;
    right: 5px;
}

.input-group .btns-check i#correct {
    color: var(--correct-color);
}

.input-group .btns-check i#incorrect {
    color: var(--error-color);
}

.input-group .btns-check i.validator {
    display: none;
}


.input-group .error {
    color: var(--error-color);
    font-weight: 500;
    margin-top: 5px;
    opacity: 0;
}

.input-group .error.active {
    opacity: 1;
    cursor: default;
}
